html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100dvw;
  position: relative;
}
body {
  margin: 0;
  background: #f2f2f2;
  overflow-x: hidden;
  width: 100dvw;
  position: relative;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.items-center {
  align-items: center;
}
.h-fit {
  height: fit-content;
}
.visibility-none {
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
  transition: 0.5s;
}
